<div [formGroup]="addTransactionForm">
  <div class="card-header w-header">
    Добавление операции
  </div>
  <div mat-dialog-content class="row d-flex pl-3 overflow-inherit">
    <div class="d-flex w-100 my-3 w-place-center">
      <p>Добавьте денежную операцию, которую вы провели</p>
    </div>
    <div class="d-flex w-100 my-3 w-place-center flex-column">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Выберите счет:</mat-label>
        <mat-select formControlName="account" class="w-select"
                    (selectionChange)="true">
          <mat-option (click)="selectAccount(account)" *ngFor="let account of this.accounts"
                      value="{{account.id}}">{{account.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="selectedAccount" class="d-flex flex-row w-100 pr-3 w-currency-toggle-menu">
        <div *ngFor="let bill of selectedAccount.accountBills"
             [ngClass]="selectedBill?.currency == bill.currency? 'w-currency-toggle-selected': 'w-currency-toggle'"
             (click)="selectBill(bill)">
          <div class="w-currency">
            {{bill.currency.shortName}}
          </div>
        </div>
      </div>
      <div *ngIf="selectedAccount && selectedBill"
           style="place-self: center">
        <div class="d-flex align-items-center w-place-center">
          <mat-form-field class="w-100 mt-2" style="max-width: 185px;" appearance="fill">
            <mat-label>Сумма операции</mat-label>
            <input
              formControlName="sum"
              matInput
              type="number"
            />
          </mat-form-field>
          <mat-icon matTooltip="Будет записано в доходы" [matTooltipPosition]="'below'"
                    *ngIf="isPlusState" (click)="changePlusState()" class="w-icon">add
          </mat-icon>
          <mat-icon matTooltip="Будет записано в расходы" [matTooltipPosition]="'below'" *ngIf="!isPlusState"
                    (click)="changePlusState()" class="w-icon">remove
          </mat-icon>
        </div>
      </div>
      <div *ngIf="selectedAccount && selectedBill"
           style="place-self: center;
    display: flex;
    width: 100%;
    overflow-x: scroll;">
        <div class="icons d-flex">
          <div #tooltip [matTooltip]="category.title" [matTooltipPosition]="'above'" class="icon"
               *ngFor="let category of getCategories(); index as i"
               (click)="selectedCategoryId = category.id"
               [ngStyle]=" (category.id == selectedCategoryId) ? {'background-color': '#007bff', 'border-radius': '24px'} : {'background-color': 'white'}">
            <img [src]="getCategoryImg(category)"/>
          </div>
        </div>
      </div>
      <div *ngIf="selectedAccount != null">
        <div class="alert alert-danger" role="alert" *ngIf="isSelectedAccountFrozen()">
          Внимание! Данный счет заблокирован на снятие средств до
          <strong>{{selectedAccount.freezeDate | date: 'medium'}}</strong>
        </div>
        <div *ngIf="selectedAccount?.accountType?.type?.code == 'CREDIT'">
          <div class="alert alert-danger" role="alert" *ngIf=" selectedAccount.accountBills[0].balance < 0">
            Внимание! <strong>Кредитный</strong> счет заблокирован на снятие средств
          </div>
          <div class="alert alert-danger" role="alert" *ngIf=" selectedAccount.accountBills[0].balance >= 0">
            Внимание! Кредит <strong>погашен</strong> и счет <strong>заблокирован</strong>!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="row d-flex">
    <div class="col d-flex" style="justify-content: flex-end">
      <button color="warn" mat-raised-button class='btn custom-btn mr-3'
              (click)="close()" style="align-content: center">
        Закрыть
      </button>
      <button color="primary" mat-raised-button class='btn custom-btn custom-btn-blue-gradient'
              [disabled]="!this.addTransactionForm.valid || !selectedCategoryId || (this.selectedAccount?.accountType?.type?.code == 'CREDIT' &&
              this.selectedAccount.accountBills[0].balance >= 0)"
              (click)="add()" style="align-content: center">
        Внести операцию
      </button>
    </div>
  </div>
</div>
