<h4 class="mb-3">Выберите нужный Вам раздел:</h4>
<div class="row justify-content-center mb-4">
  <!--  <div class="col-3">-->
  <!--    <div class="w-menu-item" (click)="changeMenuState('INCOME')">-->
  <!--      <div class="w-title">-->
  <!--        Доходы-->
  <!--        <div class="w-sub-title">-->
  <!--          Информация о доходах-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="w-right"><img src="'../../../../assets/img/finance/evolution.svg"></div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="col-3">-->
  <!--    <div class="w-menu-item">-->
  <!--      <div class="w-title">-->
  <!--        Расходы-->
  <!--        <div class="w-sub-title">-->
  <!--          Информация о расходах-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="w-right"><img src="'../../../../assets/img/finance/decreasing.svg"></div>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="col-3">
    <div class="w-menu-item" (click)="changeMenuState('STATISTIC')">
      <div class="w-title">
        Статистика
        <div class="w-sub-title">
          Статистика расходов и доховод по счетам
        </div>
      </div>
      <div class="w-right"><img src="'../../../../assets/img/finance/evolution.svg"></div>
    </div>
  </div>
  <div class="col-3">
    <div class="w-menu-item" (click)="changeMenuState('ACCOUNTS')">
      <div class="w-title">
        Мои счета
        <div class="w-sub-title">
          Создание, редактирование личных счетов
        </div>
      </div>
      <div class="w-right"><img src="'../../../../assets/img/finance/money_acc.svg"></div>
    </div>
  </div>
  <div class="col-3">
    <div class="w-menu-item" (click)="changeMenuState('TRANSACTIONS')">
      <div class="w-title">
        История операций
        <div class="w-sub-title">
          Создание, редактирование личных счетов
        </div>
      </div>
      <div class="w-right"><img src="'../../../../assets/img/finance/history.svg"></div>
    </div>
  </div>
</div>
<!--<div class="row justify-content-center">-->
<!--  -->
<!--  <div class="col-3">-->
<!--    <div class="w-menu-item">-->
<!--      <div class="w-title">-->
<!--        Расходы-->
<!--        <div class="w-sub-title">-->
<!--          Информация о расходах-->
<!--        </div>-->
<!--      </div>-->
<!--      col-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    <div class="w-menu-item">col</div>-->
<!--  </div>-->
<!--</div>-->
