.w-add-income-operation {
  position: absolute;
  top: 23px;
  right: 5%;
}

.w-select-account {
  //position: relative;
  //left: 77%;
}

.w-acc-select-header {
  font-size: 12px;
  font-weight: lighter;
  color: #363e40;
}

.w-table {
  width: 100%;
}
