.w-card-header {
  justify-content: space-between;
  font-size: 20px;
  font-weight: bolder;

  .text {
    display: flex;
    align-items: center;
  }
}

.w-return {
  @media (max-width: 992px) {
    right: 88%;
  }

  position: absolute;
  top: -5px;
  right: 96%;
  background: none;
  border: none;
}
