<mat-card>
  <mat-card-header [textContent]="getTitle()" class="card-header w-card-header">
  </mat-card-header>
  <div *ngIf="menuState.toString() != 'menu'" style="max-width: 48px">
    <button class="w-return" #tooltip="matTooltip" matTooltip="На главную" [matTooltipPosition]="'above'" (click)="setMenu()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>  <mat-card-content class="card-body mat-card-content">
    <div *ngIf="menuState.toString() == 'menu'">
      <app-menu (menuState)="changeMenuState($event)"></app-menu>
    </div>
    <div *ngIf="menuState.toString() == 'income'">
      <app-income></app-income>
    </div>
    <div *ngIf="menuState.toString() == 'accounts'">
      <app-accounts [user]="this.user"></app-accounts>
    </div>
    <div *ngIf="menuState.toString() == 'transactions'">
      <app-transaction-history [user]="this.user"></app-transaction-history>
    </div>
  </mat-card-content>
</mat-card>
