<footer class="footer">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-3">
        <div class="copyright">
          <img src="assets/img/main/logo.png" style="filter: contrast(0.6);">
          <div class="copyright-text mt-2" style="display: grid">
            <small>© 2021 Copyright: Online-wallet.ru</small>
          </div>
          <!--        <img src="http://img1.wikia.nocookie.net/__cb20111230161227/assassinscreed/images/7/70/Minecraft-logo.png"-->
          <!--             width="270">-->
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="row">
          <h2>Начни свой учет финансов <span>вместе</span> с нами!</h2>
          <div class="social-links ml-5">
            <a target="_blank" class="mr-2" href="https://vk.com/owallet"><i class="fab fa-vk"></i></a>
            <a class="mr-2" href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-4 pl-0">
            <div class="grid links">
              <a routerLink="finance" class="mb-2">МОИ ФИНАНСЫ</a>
              <a routerLink="settings">НАСТРОЙКИ</a>
            </div>
          </div>
          <div class="col-4">
            <div class="grid links">
              <a routerLink="cabinet" class="mb-2">КАБИНЕТ</a>
              <a target="_blank" href="https://vk.com/owallet">ПОДДЕРЖКА</a></div>
          </div>
          <div class="col-4">
            <div class="grid links">
              <a routerLink="about" class="mb-2">О НАС</a>
              <a href="#">ПУБЛИЧНАЯ ОФЕРТА</a></div>
          </div>
        </div>
      </div>
      <div class="col d-flex justify-content-end">
        <div #yaMetrika class="ya-metrika">
          <!-- Yandex.Metrika informer -->
          <a href="https://metrika.yandex.ru/stat/?id=83228629&amp;from=informer"
             target="_blank" rel="nofollow"><img
            src="https://informer.yandex.ru/informer/83228629/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
            style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика"
            title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)"
            class="ym-advanced-informer" data-cid="83228629" data-lang="ru"/></a>
          <noscript>
            <div><img src="https://mc.yandex.ru/watch/83228629" style="position:absolute; left:-9999px;" alt="" /></div>
          </noscript>
          <!-- /Yandex.Metrika counter -->
        </div>
      </div>
    </div>
  </div>
</footer>
