<div class="component-content">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3">
      <div class="w-block mb-5">
        <mat-card>
          <mat-card-header [textContent]="'Баланс'" class="card-header w-card-header">
          </mat-card-header>
          <div class="w-change-balance-btn">
            <button color="primary" mat-raised-button class="btn custom-btn custom-btn-blue-gradient"
                    (click)="addTransaction()">
              <mat-icon style="top: -2px;position: relative;">attach_money</mat-icon>
              Изменить
            </button>
          </div>
          <mat-card-content class="card-body mat-card-content">
            <div *ngIf="!this.balance || !this.accounts"
                 class="col content d-flex justify-content-center w-100 mb-3 mt-3">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="this.balance" class="w-available-balance">
              <p class="text-black-50 mb-0">Доступно: </p>
              <p class="w-summa d-inline-flex">{{this.balance?.balance | number:'1.0-3'}} <span class="w-currency"
                                                                                                #tooltip="matTooltip"
                                                                                                matTooltip="Конвертировать в другую валюту"
                                                                                                [matTooltipPosition]="'above'"
                                                                                                (click)="changeCurrency()">{{this.balance?.currency}}</span>
              </p>
            </div>
            <div *ngIf="this.accounts" class="w-balance-table">
              <div *ngFor="let account of accounts">
                <div class="row w-100  flex-column pl-3 pr-3">
                  <div class="row m-0"><p class="w-acc-title">{{account.name}}</p></div>
                  <div class="row m-0">
                    <div class="mr-2 mb-2" *ngFor="let bill of account.accountBills">
                      <span style="font-size: 17px"
                            class="badge badge-pill badge-primary">{{bill.balance | number}} {{bill.currency.shortName}}</span>
                    </div>
                  </div>
                </div>
                <hr align="center" width="90%" size="50" color="#dddddd"/>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer *ngIf="this.accounts" class="card-footer">
            Всего счетов: {{accounts?.length}}
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="col">
      <!--test col-->
      <!--    <div class="container">-->
      <!--      <div class="row">-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="w-100 w-table"></div>-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->

      <app-card [accounts]="this.accounts" [user]="this.user"></app-card>
    </div>
  </div>
</div>
