<div class="component-content">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3">
      <div class="w-block mb-5">
        <mat-card>
          <mat-card-header [textContent]="'Баланс'" class="card-header w-card-header">
          </mat-card-header>
          <div class="w-change-balance-btn">
            <button color="primary" mat-raised-button class="btn custom-btn custom-btn-blue-gradient"
                    (click)="addTransaction()">
              <mat-icon style="top: -2px;position: relative;">attach_money</mat-icon>
              Изменить
            </button>
          </div>
          <mat-card-content class="card-body mat-card-content">
            <div *ngIf="!this.balance || !this.accounts"
                 class="col content d-flex justify-content-center w-100 mb-3 mt-3">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div *ngIf="this.balance" class="w-available-balance">
              <p class="text-black-50 mb-0">Доступно: </p>
              <p class="w-summa d-inline-flex">{{this.balance?.balance | number:'1.0-3'}} <span class="w-currency"
                                                                                                #tooltip="matTooltip"
                                                                                                matTooltip="Конвертировать в другую валюту"
                                                                                                [matTooltipPosition]="'above'"
                                                                                                (click)="changeCurrency()">{{this.balance?.currency}}</span>
              </p>
            </div>
            <div *ngIf="this.accounts" class="w-balance-table">
              <div *ngFor="let account of accounts">
                <div class="row w-100  flex-column pl-3 pr-3">
                  <div style="max-width: 50px;
                              max-height: 50px;
                              position: absolute;
                              right: 53px;">
                    <img class="w-100 h-100" [src]="getAccountIcon(account.accountType.type.icon)"/></div>
                  <div class="row m-0"><p class="w-acc-title">{{account.name}}</p></div>
                  <div class="row m-0">
                    <div class="mr-2 mb-2" *ngFor="let bill of account.accountBills">
                      <span style="font-size: 17px"
                            class="badge badge-pill badge-primary">{{bill.balance | number}} {{bill.currency.shortName}}</span>
                    </div>
                  </div>
                  <p class="m-0 mt-3 w-acc-type">{{account.accountType.type.name }} счёт</p>
                </div>
                <hr align="center" width="90%" size="50" color="#dddddd"/>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer *ngIf="this.accounts" class="card-footer">
            Всего счетов: {{accounts?.length}}
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="w-block mb-5">
        <mat-card>
          <mat-card-header [textContent]="'Конвертер валют'" class="card-header w-card-header">
          </mat-card-header>
          <mat-card-content class="card-body mat-card-content">
            <div *ngIf="!this.currencies"
                 class="col content d-flex justify-content-center w-100 mb-3 mt-3">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div>
              <div *ngIf="this.currencies" class="w-available-balance d-flex">
<!--                <p class="text-black-50 mb-0">Валюта, относительно которой будет конвертация</p>-->
              </div>
              <div *ngIf="this.currencies" class="w-balance-table" [formGroup]="currencyConverterForm">
                <div class="row w-100 d-flex pl-3 pr-3 m-0">
                  <mat-form-field appearance="fill" style="max-width: 45%;margin-right: 7px;">
                    <mat-label>Валюта</mat-label>
                    <mat-select formControlName="convertFrom" [(value)]="convertFromValue">
                      <mat-option (click)="convertCurrency()" *ngFor="let currency of currencies" [value]="currency.id">
                        {{currency.shortName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill" style="max-width: 51%">
                    <mat-label>Кол-во</mat-label>
                    <input (input)="convertCurrency()"  matInput placeholder="1" value="1" formControlName="convertFromValue">
                  </mat-form-field>
                  <hr align="center" width="90%" size="50" color="#dddddd"/>
                  <mat-form-field appearance="fill" style="max-width: 45%;margin-right: 7px;">
                    <mat-label>Валюта</mat-label>
                    <mat-select formControlName="convertTo" [(value)]="convertToValue">
                      <mat-option (click)="convertCurrency()" *ngFor="let currency of getCurrenciesWithoutMain()" [value]="currency.id">
                        {{currency.shortName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill" style="max-width: 51%">
                    <mat-label>Результат</mat-label>
                    <input [readonly]="true" matInput placeholder="1" value="1" formControlName="convertToValue">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer *ngIf="this.accounts" class="card-footer">
<!--            Всего счетов: {{accounts?.length}}-->
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="col">
      <app-card [accounts]="this.accounts" [user]="this.user"></app-card>
    </div>
  </div>
</div>
