<div class="component-content">
  <div class="row">
    <div class="col-lg-3 col-sm-3 col-md-3">
      <div class="w-block mb-5">
        <mat-card>
          <mat-card-header [textContent]="'Баланс'" class="card-header w-card-header">
          </mat-card-header>
          <div class="w-change-balance-btn">
            <button color="primary" mat-raised-button class="btn custom-btn custom-btn-blue-gradient"
                    (click)="true">
              <mat-icon style="top: -2px;position: relative;">attach_money</mat-icon>
              Изменить
            </button>
          </div>
          <mat-card-content class="card-body mat-card-content">
            <div class="w-available-balance">
              <p class="text-black-50 mb-0">Доступно: </p>
              <p class="w-summa">9900 <span class="w-currency">USD</span></p>
            </div>
            <div class="w-balance-table">
              <div class="row w-100">
                <div class="col w-25">333</div>
                <div class="col-sm-2 w-25 font-weight-bold">RUB</div>
              </div>
              <hr align="center" width="90%" size="50" color="#dddddd"/>
              <div class="row w-100">
                <div class="col w-25">333</div>
                <div class="col-sm-2 w-25 font-weight-bold">RUB</div>
              </div>
              <hr align="center" width="90%" size="50" color="#dddddd"/>
              <div class="row w-100">
                <div class="col w-25">333</div>
                <div class="col-sm-2 w-25 font-weight-bold">RUB</div>
              </div>
              <hr align="center" width="90%" size="50" color="#dddddd"/>
              <div class="row w-100">
                <div class="col w-25">333</div>
                <div class="col-sm-2 w-25 font-weight-bold">RUB</div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer class="card-footer">
            Всего счетов: 8
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div class="col">
      <!--test col-->
      <!--    <div class="container">-->
      <!--      <div class="row">-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="w-100 w-table"></div>-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="col">-->
      <!--          <div class="card text-success">-->
      <!--            <img class="card-img-top" src="/assets/img/main/finance-up.jpg">-->
      <!--            <div class="card-block">-->
      <!--              <h4 class="card-title">Доходы</h4>-->
      <!--              <p class="card-text">Что-то</p>-->
      <!--              <a href="#" class="btn btn-primary">Go somewhere</a>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </div>-->

      <mat-card>
        <mat-card-header [textContent]="'Меню'" class="card-header w-card-header">
        </mat-card-header>
        <mat-card-content class="card-body mat-card-content">
          <h4 class="mb-3">Выберите нужный Вам раздел:</h4>
          <div class="row justify-content-center mb-4">
            <div class="col-3">
              <div class="w-menu-item">
                <div class="w-title">
                  Доходы
                  <div class="w-sub-title">
                    Информация о доходах
                  </div>
                </div>
                <div class="w-right"><img  src="'../../../../assets/img/finance/evolution.svg"></div>
              </div>
            </div>
            <div class="col-3">
              <div class="w-menu-item">
                <div class="w-title">
                  Расходы
                  <div class="w-sub-title">
                    Информация о расходах
                  </div>
                </div>
                <div class="w-right"><img  src="'../../../../assets/img/finance/decreasing.svg"></div>
              </div>
            </div>
            <div class="col-3">
              <div class="w-menu-item">
                <div class="w-title">
                  Мои счета
                  <div class="w-sub-title">
                    Создание, редактирование личных счетов
                  </div>
                </div>
                <div class="w-right"><img  src="'../../../../assets/img/finance/money_acc.svg"></div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-3">
              <div class="w-menu-item">
                <div class="w-title">
                  История операций
                  <div class="w-sub-title">
                    Создание, редактирование личных счетов
                  </div>
                </div>
                <div class="w-right"><img  src="'../../../../assets/img/finance/history.svg"></div>
              </div>
            </div>
            <div class="col-3">
              <div class="w-menu-item">
                <div class="w-title">
                  Расходы
                  <div class="w-sub-title">
                    Информация о расходах
                  </div>
                </div>
                col
              </div>
            </div>
            <div class="col-3">
              <div class="w-menu-item">col</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
