<!--<div #launcher class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8  content">
    <div class="inner">
      <div class="headline">
        <h2>Регистрация нового пользователя</h2>
        <p>Для игры на наших серверах Вам необходимо зарегестрироваться!</p>
      </div>
      <div class="registration_form">
        <label>
          Username
          <input [(ngModel)]="username" type="text">
        </label>
        <label>
          Email
          <input [(ngModel)]="email">
        </label>
        <label>
          Password
          <input [(ngModel)]="password" type="password">
        </label>

        <label>
          Confirm password
          <input [(ngModel)]="confirmPassword" type="password">
        </label>

        <button (click)="register()">Registration</button>
      </div>
    </div>
  </div>
</div>-->

<div class="register-modal" [formGroup]="registerForm">
  <div class="col-xs-1 text-center">
    <h1 mat-dialog-title>Регистрация</h1>
    <p>Для игры на наших серверах Вам необходимо зарегистрироваться!</p>
  </div>
  <div mat-dialog-content class="row d-flex pl-3 overflow-inherit">
    <div class="col-1 d-flex align-items-center">
      <label class="register-icon"><i class="fas fa-user" aria-hidden="true"></i> </label>
    </div>
    <div class="col">
      <mat-form-field class="w-100">
        <input formControlName="username" matInput placeholder="Логин" (change)="checkUserExistByUserName($event)">
        <mat-error *ngIf="hasControlsErrors('username', 'required')">Введите имя пользователя</mat-error>
        <mat-error *ngIf="hasControlsErrors('username', 'usernameAlreadyExist')">Пользователь с таким именем уже
          существуетn
        </mat-error>
<!--        <mat-error *ngIf="hasControlsErrors('username', 'whitespace')">Имя пользователя не может содержать пробелы-->
<!--        </mat-error>-->
        <mat-error *ngIf="hasControlsErrors('username','required')">
          Имя игрока не может быть пустым
        </mat-error>
        <mat-error *ngIf="hasControlsErrors('username','pattern')">
          Неверное имя игрока
        </mat-error>
        <mat-error *ngIf="hasControlsErrors('username','minlength')">
          Имя игрока не может быть меньше, чем 3 символа
        </mat-error>
        <mat-error *ngIf="hasControlsErrors('username','maxlength')">
          Имя игрока не может быть больше, чем 17 символов
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-content class="row d-flex pl-3 overflow-inherit">
    <div class="col-1 d-flex align-items-center">
      <label class="register-icon"><i class="fas fa-at" aria-hidden="true"></i> </label>
    </div>
    <div class="col">
      <mat-form-field class="w-100">
        <input formControlName="email" matInput placeholder="Email" (change)="checkUserExistByEmail($event)">
        <mat-error *ngIf="hasControlsErrors('email', 'required')">Введите email</mat-error>
        <mat-error *ngIf="hasControlsErrors('email', 'email')">Некорректный email адрес</mat-error>
        <mat-error *ngIf="hasControlsErrors('email', 'emailAlreadyExist')">Пользователь с таким email уже существует
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-content class="row d-flex pl-3 overflow-inherit">
    <div class="col-1 d-flex align-items-center">
      <label class="register-icon"><i class="fas fa-unlock-alt" aria-hidden="true"></i> </label>
    </div>
    <div class="col">
      <mat-form-field class="w-100">
        <input formControlName="password" matInput placeholder="Пароль" type="password">
        <mat-error *ngIf="hasControlsErrors('password', 'required')">Введите пароль</mat-error>
        <mat-error *ngIf="hasControlsErrors('password', 'minlength')">Пароль должен быть больше 7 символов</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-content class="row d-flex pl-3 overflow-inherit mb-0">
    <div class="col-1 d-flex align-items-center">
      <label class="register-icon"><i class="fas fa-unlock-alt" aria-hidden="true"></i> </label>
    </div>
    <div class="col">
      <mat-form-field class="w-100">
        <input formControlName="confirmPassword" matInput placeholder="Повторите пароль" type="password">
        <mat-error *ngIf="hasControlsErrors('confirmPassword','confirmedValidator')">Пароли не совпадают</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="form.hasError('authorizedError')" style="color: red">
    <mat-error>Ошибка авторизации!</mat-error>
  </div>
  <div mat-dialog-content class="row d-flex pl-3 overflow-inherit mb-0 justify-content-center">
<!--   <re-captcha style="text-align-last: center" formControlName="recaptchaReactive"></re-captcha>-->
  </div>
  <div mat-dialog-actions class="row d-flex justify-content-center">
    <button mat-raised-button color="primary" (click)="register()" [disabled]="!form.valid">Регистрация</button>
    <button type="button" mat-raised-button color="warn" (click)="close()">Закрыть</button>
    <!--[mat-dialog-close]="data"-->
    <!--<button (click)="onSignIn()" cdkFocusInitial mat-button class="login-btn">Войти на сайт</button>
    <button (click)="close()" mat-button>Закрыть</button>-->
  </div>
</div>
