<div class="text_about">В чем полезность нашего сервиса?</div>
<div class="blocks">
  <div class="block"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 3s;">
    <div class="image"><img src="/assets/img/main/briefcase.svg"></div>
    <h2>Все финансы в одном месте</h2><span>Объедините все ваши финансы в одной системе. Ведите общий учет наличных, карт, кредитов вкладов, криптовалюты. В кабинете нашего сервиса можете наблюдатсь общее финансовое состояние.</span>
  </div>
  <div class="block"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 2s;">
    <div class="image"><img src="/assets/img/main/revenue.svg"></div>
    <h2>Контроль доходов и расходов</h2><span>Все ваши доходы и расходы по всем вашим счетам записаны в одном месте. Вы можете анализировать общую картину доходов и расходов, которые вы производили наличкой/картой/криптовалютой и т.д.</span>
  </div>
  <div class="block"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 1s;">
    <div class="image"><img src="/assets/img/main/goal.svg"></div>
    <h2>Финансовая цель</h2><span>Хотите накопить большую сумму? Указав краткую информацию в кабинете, вы сможете всегда наблюдать сколько вам нужно откладывать в день/неделю или месяц..</span>
  </div>
</div>
<div class="text_about" style="padding-top: 100px;">Основной функционал</div>
<section class="rx nx s_">
  <div class="tcontainern">
    <div class="features-tiles-inner rd i_">
      <div class="rv">
        <div class="scontainero">
          <p class="sz">Мы стараемся постоянно развиваться и улучшать наш продукт. Ниже представлен список основных
            функциональных возможностей системы online-wallet.</p></div>
      </div>
      <div class="tiles-wrap">
        <div class="ng reveal-from-right is-revealed" style="animation-name: bounceInLeft; animation-duration: 1s;">
          <div class="ny">
            <div class="features-tiles-item-header">
              <div class="iy ok"><img src="/assets/img/main/smartphone.svg" alt="Feature tile icon 01" width="72"
                                      height="72"></div>
            </div>
            <div class="features-tiles-item-content"><h4 class="oe oh">Добавление транзакции</h4>
              <p class="sz l">Интуитивно понятное ручное добавление ваших операций доходов или расходов на счетах</p>
            </div>
          </div>
        </div>
        <div class="ng reveal-from-left is-revealed" style="animation-name: bounceInRight; animation-duration: 1s;">
          <div class="ny">
            <div class="features-tiles-item-header">
              <div class="iy ok"><img src="/assets/img/main/credit-card.svg" alt="Feature tile icon 02" width="72"
                                      height="72"></div>
            </div>
            <div class="features-tiles-item-content"><h4 class="oe oh"> Список счетов</h4>
              <p class="sz l">Вы можете добавить столько счетов, сколько у вас имеется на самом деле. На каждом счету
                может быть 2 разных
                валютных пары.</p></div>
          </div>
        </div>
        <div class="ng reveal-from-right is-revealed" style="animation-name: bounceInLeft; animation-duration: 1s;">
          <div class="ny">
            <div class="features-tiles-item-header">
              <div class="iy ok"><img src="/assets/img/main/money-growth.svg" alt="Feature tile icon 03" width="72"
                                      height="72"></div>
            </div>
            <div class="features-tiles-item-content"><h4 class="oe oh"> Курсы валют</h4>
              <p class="sz l">Обновление курсов происходит каждые 10 минут. Валюты и их курсы берутся с сайта
                Европейского центрального банка.</p></div>
          </div>
        </div>
        <div class="ng reveal-from-left is-revealed" style="animation-name: bounceInRight; animation-duration: 1s;">
          <div class="ny">
            <div class="features-tiles-item-header">
              <div class="iy ok"><img src="/assets/img/main/stats.svg" alt="Feature tile icon 04" width="72"
                                      height="72"></div>
            </div>
            <div class="features-tiles-item-content"><h4 class="oe oh">Статистика операций</h4>
              <p class="sz l">Имеется график доходов и расходов. Диаграмма растрат и полнастая история доходов и
                трат.</p></div>
          </div>
        </div>
        <div class="ng reveal-from-right is-revealed" style="animation-name: bounceInLeft; animation-duration: 1s;">
          <div class="ny">
            <div class="features-tiles-item-header">
              <div class="iy ok"><img src="/assets/img/main/targeting.svg" alt="Feature tile icon 05" width="72"
                                      height="72"></div>
            </div>
            <div class="features-tiles-item-content"><h4 class="oe oh">Финансовая цель</h4>
              <p class="sz l">Данный модуль поможет вам накопить сумму. Включает в себя статистику и покажет, сколько
                вам нужно копить каждый
                день/неделю/месяц.</p></div>
          </div>
        </div>
        <div class="ng reveal-from-left is-revealed" style="animation-name: bounceInRight; animation-duration: 1s;">
          <div class="ny">
            <div class="features-tiles-item-header">
              <div class="iy ok"><img src="/assets/img/main/music-player.svg" alt="Feature tile icon 06" width="72"
                                      height="72"></div>
            </div>
            <div class="features-tiles-item-content"><h4 class="oe oh">Гибкие настройки</h4>
              <p class="sz l"> Вы сможете настроить личный профиль, безопасность и управление кабинетом полностью под
                себя.</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="security" style="visibility: visible; animation-name: fadeInUp; animation-duration: 1s;">
  <div class="image"><img src="/assets/img/main/security.png"></div>
  <div class="text"><h1>Подробнее о безопасности</h1>
    <div class="desc">
      <div class="dot" style="color: rgb(250, 177, 67);"><i class="fas fa-circle"
                                                            aria-hidden="true"></i></div>
      <div class="descText">Все ваши данные надежно защищены, ваши личные пароли надежно шифруются, а в настроках
        аккаунта можно активировать двухфакторную авторизацию.
      </div>
    </div>
    <div class="desc">
      <div class="dot" style="color: rgb(65, 167, 155);"><i class="fas fa-circle"
                                                            aria-hidden="true"></i></div>
      <div class="descText">Вся информация хранится только на наших серверах и не уходит третьим лицам.
      </div>
    </div>
    <div class="desc">
      <div class="dot" style="color: rgb(248, 115, 94);"><i class="fas fa-circle"
                                                            aria-hidden="true"></i></div>
      <div class="descText">Мы не храним и не запрашиваем никаких паролей от банков/кошельков и т.п.
        Все изменения ваших доходов/растрат вы вносите вручную.
      </div>
    </div>
  </div>
</div>
