<div class="text_about">В чем полезность нашего сервиса?</div>
<div class="blocks">
  <div class="block"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 3s;">
    <div class="image"><img src="/assets/img/main/briefcase.svg"></div>
    <h2>Все финансы в одном месте</h2><span>Объедините все ваши финансы в одной системе. Ведите общий учет наличных, карт, кредитов вкладов, криптовалюты. В кабинете нашего сервиса можете наблюдатсь общее финансовое состояние.</span>
  </div>
  <div class="block"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 2s;">
    <div class="image"><img src="/assets/img/main/revenue.svg"></div>
    <h2>Контроль доходов и расходов</h2><span>Все ваши доходы и расходы по всем вашим счетам записаны в одном месте. Вы можете анализировать общую картину доходов и расходов, которые вы производили наличкой/картой/криптовалютой и т.д.</span>
  </div>
  <div class="block"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 1s;">
    <div class="image"><img src="/assets/img/main/goal.svg"></div>
    <h2>Финансовая цель</h2><span>Хотите накопить большую сумму? Указав краткую информацию в кабинете, вы сможете всегда наблюдать сколько вам нужно откладывать в день/неделю или месяц..</span>
  </div>
</div>
<div class="text_about" style="padding-top: 100px;">Основной функционал</div>
<div class="functions">
  <div class="left"
       style="visibility: visible; animation-name: bounceInLeft; animation-duration: 1s;">
    <div class="desc color1">
      <div class="leftDesc">
        <div class="name">
          Добавление транзакции
        </div>
        Интуитивно понятное ручное добавление ваших операций доходов или расходов на счетах
      </div>
      <div class="rightImage"><img
        src="/assets/img/main/smartphone.svg"></div>
    </div>
    <div class="desc color2">
      <div class="leftDesc">
        <div class="name">
          Список счетов
        </div>
        Вы можете добавить столько счетов, сколько у вас имеется на самом деле. На каждом счету может быть 4 разных
        валютных пары.
      </div>
      <div class="rightImage"><img
        src="/assets/img/main/credit-card.svg"></div>
    </div>
    <div class="desc color3">
      <div class="leftDesc">
        <div class="name">
          Курсы валют
        </div>
        Обновление курсов происходит каждые 10 минут. Валюты: Доллар, Евро, Рубль, Гривна
      </div>
      <div class="rightImage"><img
        src="/assets/img/main/money-growth.svg"></div>
    </div>
  </div>
  <div class="mobile"
       style="visibility: visible; animation-name: slideInUp; animation-duration: 1s;">
    <div class="image"><img src="/assets/img/main/mobile.png"></div>
  </div>
  <div class="right"
       style="visibility: visible; animation-name: bounceInRight; animation-duration: 1s;">
    <div class="desc color4">
      <div class="leftImage"><img src="/assets/img/main/stats.svg">
      </div>
      <div class="leftDesc">
        <div class="name">
          Статистика операций
        </div>
        Имеется график доходов и расходов. Диаграмма растрат и полнастая история доходов и трат
      </div>
    </div>
    <div class="desc color5">
      <div class="leftImage"><img src="/assets/img/main/targeting.svg">
      </div>
      <div class="leftDesc">
        <div class="name">
          Финансовая цель
        </div>
        Данный модуль поможет вам накопить сумму. Включает в себя статистику и покажет, сколько вам нужно копить каждый
        день/неделю/месяц
      </div>
    </div>
    <div class="desc color6">
      <div class="leftImage"><img
        src="/assets/img/main/music-player.svg"></div>
      <div class="leftDesc">
        <div class="name">
          Гибкие настройки
        </div>
        Вы сможете настроить дизайн и управление кабинетом полностью под себя
      </div>
    </div>
  </div>
</div>
<div class="security" style="visibility: visible; animation-name: fadeInUp; animation-duration: 1s;">
  <div class="image"><img src="/assets/img/main/security.png"></div>
  <div class="text"><h1>Подробнее о безопасности</h1>
    <div class="desc">
      <div class="dot" style="color: rgb(250, 177, 67);"><i class="fas fa-circle"
                                                            aria-hidden="true"></i></div>
      <div class="descText">Регистрация в сервисе анонимна. При желании, вы можете не указывать
        email, когда регистрируетесь.
      </div>
    </div>
    <div class="desc">
      <div class="dot" style="color: rgb(65, 167, 155);"><i class="fas fa-circle"
                                                            aria-hidden="true"></i></div>
      <div class="descText">Все данные передаются по безопасному HTTPS протоколу с использованием
        шифрования.
      </div>
    </div>
    <div class="desc">
      <div class="dot" style="color: rgb(248, 115, 94);"><i class="fas fa-circle"
                                                            aria-hidden="true"></i></div>
      <div class="descText">Мы не храним и не запрашиваем никаких паролей от банков/кошельков и т.п.
        Все изменения ваших доходов/растрат вы вносите вручную.
      </div>
    </div>
  </div>
</div>
