<div class="card-header w-header">
  Информация о типах счета
</div>
<div *ngFor="let type of types" class="mat-card" style="margin-top: 5px">
  <div class="row">
    <img [src]="getTypeIcon(type)" class="w-avatar col-3 align-self-center" style="width: 100%;height: 100%">
    <div class="col">
      <div class="w-account-name mb-2">
        {{type.name}}
      </div>
      <div class="w-account-description">
        <div *ngIf="type.code == 'CUMULATIVE'">
          <p>Накопительный счет - это счет,
            который предлагает не только хранения денежных средств, но и возможность
            снятия в любой момент.</p>
          <h3 class="font-weight-bold" style="font-size: 10px"> Начисление средств: <span style="color: green">разрешено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px"> Списание средств: <span style="color: green">разрешено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px">Создание цели: <span style="color: green">разрешено</span></h3>
        </div>
        <div *ngIf="type.code == 'CREDIT'">
          <p>Кредитный счет -
            это счет, который предназначается для учета кредитной задолженности перед банком по кредитному договору.
          </p>
          <h3 class="font-weight-bold" style="font-size: 10px"> Начисление средств: <span style="color: green">разрешено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px"> Списание средств: <span style="color: red">запрещено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px">Создание цели: <span style="color: red">запрещено</span></h3>
        </div>
        <div *ngIf="type.code == 'SALARY'">
          <p>Зарплатный счет - это счет,
            который позволяет распоряжаться денежными средствами, полученными в качестве заработной платы.</p>
          <h3 class="font-weight-bold" style="font-size: 10px"> Начисление средств: <span style="color: green">разрешено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px"> Списание средств: <span style="color: green">разрешено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px">Создание цели: <span style="color: red">запрещено</span></h3>
        </div>
        <div *ngIf="type.code == 'SAVING'">
          <p>Сберегательный счет - это счет,
            который предполагает сбережение средств на определенную цель</p>
          <h3 class="font-weight-bold" style="font-size: 10px"> Начисление средств: <span style="color: green">разрешено</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px"> Списание средств: <span style="color: #d2d206">разрешено(после определенной даты)</span></h3>
          <h3 class="font-weight-bold" style="font-size: 10px">Создание цели: <span style="color: green">разрешено</span></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-back">
  <button color="primary" mat-raised-button class='btn custom-btn custom-btn-blue-gradient'
          (click)="returnBack()" style="align-content: center;">
    Вернуться к созданию счета
  </button>
</div>

