<nav class="navbar navbar-expand-lg navbar-light bg-light w-mobile">
  <a class="navbar-brand" routerLink="">Online-wallet</a>
  <button (click)="mobileExpanded=!mobileExpanded;" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="mobileExpanded?'show':''" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div *ngIf="isAuthenticated">
        <li><a class="link d-flex" routerLink="cabinet">
          <div class="user_pic"><img [src]="profileImageSrc">
          </div>
          {{userName}}
        </a></li>
      </div>
      <li class="nav-item" [ngClass]="activeTab === 'main'?'active':''" id="main">
        <a class="nav-link" routerLink="" (click)="changeActiveTab('main')">Главная <span
          class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="login()">Вход</a>
      </li>
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="register()">Регистрация</a>
      </li>
      <li class="nav-item" [ngClass]="activeTab === 'finance'?'active':''">
        <a class="nav-link" routerLink="finance" href="#" id="finance" (click)="changeActiveTab('finance')">Мои
          финансы</a>
      </li>
      <li class="nav-item" [ngClass]="activeTab === 'about'?'active':''">
        <a class="nav-link" href="#" id="about" (click)="changeActiveTab('about')">О нас</a>
      </li>
      <li class="nav-item" [ngClass]="activeTab === 'settings'?'active':''">
        <a class="nav-link" routerLink="settings" id="settings" (click)="changeActiveTab('settings')">Настройки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://vk.com/im?media=&sel=-205793926">Помощь</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item">
        <a class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="d-desktop">
  <div class="wrapper">
    <div class="nav_menu"><a class="logo router-link-exact-active router-link-active" routerLink="/"></a>
      <ul class="d-lg-block">
        <li class=""><a class="link"
                        routerLink="finance">Мои финансы</a> <!----> <!---->
        </li>
        <li class=""><a class="link"
                        routerLink="about">О нас</a> <!----> <!---->
        </li>
        <li class=""><a class="link"
                        routerLink="settings">Настройки</a> <!----> <!---->
        </li>
        <li class=""><a class="link" target="_blank"
                        href="https://vk.com/im?media=&sel=-205793926">Помощь</a> <!----> <!---->
        </li>
      </ul>
      <ul *ngIf="isAuthenticated; else notAuthBlock" class="d-lg-block profile">
        <li><a class="link" routerLink="cabinet">
          <div class="user_pic"><img [src]="profileImageSrc">
          </div>
          {{userName}}
        </a></li>
        <li class="notice"><a class="link" routerLink="#"><i class="far fa-envelope"></i></a></li>
        <li class="notice "><a class="link" routerLink="/notifications"><i class="far fa-bell"></i></a></li>
        <li *ngIf="isAdmin()"><a class="link" routerLink="admin">Admin</a></li>
        <li><a (click)="logout()" class="link" routerLink="#">Выход</a></li>
      </ul>
      <ng-template #notAuthBlock>
        <ul class="d-lg-block">
          <li class="d-lg-none d-xl-inline-block">
            <a (click)="login()" class="link">Вход на сайт</a>
          </li>
          <li>
            <button color="primary" mat-raised-button class="btn custom-btn custom-btn-primary"
                    (click)="register()">Регистрация
            </button>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
<div *ngIf="hasRoute('\/')" class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop"
         style="background-image: url('../../../../assets/img//wave/wave-top.png');"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle"
         style="background-image: url('../../../../assets/img//wave/wave-mid.png');"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom"
         style="background-image: url('../../../../assets/img//wave/wave-bot.png');"></div>
  </div>
</div>
<header *ngIf="hasRoute('\/')" class="header">
  <div class="describe">
    <div class="text"
         style="visibility: visible; animation-name: bounceInLeft; animation-duration: 1s;"><span
      class="globalDesc">Бесплатный финансовый менеджер</span>
      <div class="image d-mobile"
           style="visibility: visible; animation-name: bounceInRight; animation-duration: 1s;"><img
        src="/assets/img/main/macbook.png">
      </div>
      <br><span class="afterGlobalDesc">
					Позволяет контролировать и правильно распределять личный бюджет. Автоматическое построение удобной статистики доходов и расходов. Поможет экономить и добиваться финансовой цели.
					</span>
      <br><br>
      <button mat-raised-button class="btn btn_common custom-btn">О проекте</button>
    </div>
    <div class="image d-desktop"
         style="visibility: visible; animation-name: bounceInRight; animation-duration: 1s;"><img
      src="/assets/img/main/macbook.png">
    </div>
  </div>
</header>
