h5{
  font-weight: 600;
}
.w-acc-settings {
  padding: 2% 11%;
  width: 100%;

  .w-gray-text {
    color: #8592a4;
  }
  .w-input{
    margin-right: 27px;
    background: white;
    border-radius: 10px;
    border: 1px #cbd5e1 solid;
  }
  .title {
    font-weight: 600;
    font-size: 18px;
    color: #353535;
  }

  .lite-info {
    font-size: 13px;
    color: #848484;
  }
}

