<div class="row" style="background-color: #f8fafc">
  <div *ngIf="!user && !userSettings" class="col content d-flex justify-content-center w-100 mb-3 mt-3">
    <div class="spinner-grow text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="user && userSettings" class="w-acc-settings">
    <h2 class="font-weight-bold mb-3">Аккаунт</h2>
    <div [formGroup]="profileFormGroup">
      <section class="w-acc-section">
        <h5 class="mb-0">Профиль</h5>
        <p class="w-gray-text">Данная информация профиля является публичной, ее может посмотреть любой авторизированный
          пользователь.</p>

        <div class="w-fio d-flex">
          <mat-form-field appearance="outline" class="w-100 mr-2">
            <mat-label>Имя</mat-label>
            <input formControlName="firstName" matInput/>
            <mat-error *ngIf="hasControlsErrors('firstName', 'required')"
            >Имя не может быть пустым
            </mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mr-2">
            <mat-label>Фамилия</mat-label>
            <input formControlName="lastName" matInput placeholder="Фамилия"/>
            <mat-error *ngIf="hasControlsErrors('lastName', 'required')"
            >Фамилия не может быть пустым
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Отчество</mat-label>
            <input formControlName="middleName" matInput placeholder="Отчество"/>
          </mat-form-field>
        </div>
        <div class="w-section mb-4">
          <p class="w-title font-weight-bold mb-2">Фото</p>
          <div class="d-flex align-items-center">
            <div class="w-profile-rounded-img mr-5">
              <img [src]="profileImageSrc">
            </div>
            <div class="col-3">
              <mat-form-field class="w-100">
                <ngx-mat-file-input #removableInput formControlName="file" placeholder="Установить изображения профиля"
                                    valuePlaceholder="Файл не выбран"></ngx-mat-file-input>
                <button mat-icon-button matSuffix *ngIf="!removableInput.empty"
                        (click)="removableInput.clear($event)">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <button mat-raised-button color="warn" class="btn custom-btn">Удалить</button>
          </div>
        </div>
        <div class="w-section">
          <p class="w-title font-weight-bold mb-2">Обо мне</p>
          <div class="d-flex flex-column">
            <mat-form-field class="w-about w-100" appearance="fill">
              <textarea formControlName="about" matInput placeholder="Я хороший человек..."></textarea>
            </mat-form-field>
            <p class="w-gray-text">Краткое описание Вас и Вашего профиля.</p>
          </div>
          <p class="w-title font-weight-bold mb-2">URL</p>
          <div class="d-flex align-items-center">
            <mat-form-field class="w-about w-100" appearance="fill">
              <input formControlName="url" matInput placeholder="https://online-wallet.ru"/>
            </mat-form-field>
          </div>
        </div>
      </section>
      <hr>
      <section class="w-acc-section">
        <h5 class="mb-0">Персональная информация</h5>
        <p class="w-gray-text">Данная информация профиля является публичной, ее может посмотреть любой авторизированный
          пользователь.</p>
        <div class="w-fio d-flex">
          <mat-form-field appearance="outline" class="w-100 mr-2">
            <mat-label>Email</mat-label>
            <input [disabled]="true" [readonly]="true" formControlName="email" matInput/>
            <mat-error *ngIf="hasControlsErrors('email', 'required')"
            >Имя не может быть пустым
            </mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 mr-2">
            <mat-label>Номер телефона</mat-label>
            <input formControlName="phone" matInput/>
            <mat-error *ngIf="hasControlsErrors('phone', 'required')"
            >Фамилия не может быть пустым
            </mat-error>
          </mat-form-field>
        </div>
        <div class="w-fio d-flex">
          <mat-form-field appearance="outline" class="w-100 mr-2">
            <mat-label>Страна</mat-label>
            <input formControlName="country" matInput/>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Язык</mat-label>
            <input formControlName="language" matInput/>
          </mat-form-field>
        </div>
      </section>
      <section class="w-acc-section">
        <h5 class="mb-0">Другие настройки</h5>
        <p class="w-gray-text">Данный раздел содержит в себе настройки и информацию, которая доступна только Вам.</p>
        <div class="d-flex  flex-column">
          <p class="w-title font-weight-bold mb-2">Валюта по-умолчанию</p>
          <mat-form-field appearance="fill" style="max-width: 151px;">
            <mat-select [(value)]="currency">
              <mat-option [value]="'RUB'">
                RUB
              </mat-option>
              <mat-option [value]="'USD'">
                USD
              </mat-option>
              <mat-option [value]="'EUR'">
                EUR
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasControlsErrors('currency', 'required')">Выберите валюту</mat-error>
          </mat-form-field>
        </div>
      </section>
    </div>
    <hr>
    <div class="float-right">
      <button color="warn" mat-raised-button class="mt-0 mr-4"
              (click)="close()">
        Отменить
      </button>
      <button [disabled]="!this.profileFormGroup.valid" mat-raised-button color="primary"
              class=" custom-btn-blue-gradient align-self-center mt-4"
              (click)="save()">
        Сохранить
      </button>
    </div>
  </div>
</div>
